html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

nav ul li {
    display: inline;
}
section {
    position: absolute;
    background: white;
    width: 100%;
    height: 400px;
    top: 600px;
}

.container {
    position: absolute;
    background-image: url(/images/web33.jpg);
    background-repeat: no-repeat;
    height: 3000px;
    width: 100%;
}