html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container {
    background-image: url(/images/web33.jpg);
/*    background-size: cover;*/
/*    overflow-y: auto;*/
    background-repeat: no-repeat;
    height: 3000px;
    width: 100%;
}